include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Booking Name
            th(scope="col") Booking Date/Time
            th(scope="col") Hotel
            th(scope="col") Contact Phone
            th(scope="col") Room
            th(scope="col") Actions
        tbody
script.
      document.addbookingListener('DOMContentLoaded', function() {
        axios.get('/api/booking')
          .then(function(response) {
            const bookings = response.data;
            const tableBody = document.querySelector('table tbody');
            bookings.forEach(t => {
              const row = document.createElement('tr');
              const booking = t.booking
              row.innerHTML = `
                <td>${t.id}</td>
                <td>${booking.bookingName}</td>
                <td>${booking.bookingDateTime}</td>
                <td>${booking.hotel}</td>
                <td>${booking.contactPhone}</td>
                <td>${booking.room}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });

          // Use booking delegation for delete buttons
          document.addbookingListener('click', function(booking) {
            if (booking.target && booking.target.classList.contains('btn-danger')) {
              const bookingId = booking.target.getAttribute('data-id');
              axios.delete(`/api/booking/${bookingId}`).then(function(response) {
                console.log('Delete successful', response);
                location.href = '/'
              })
              .catch(function(error) {
                console.log('Error deleting booking', error);
              });
            }
          });
      });